.product {
    background-size: cover;
    background-position: center;
}

.health {
    border: 1px solid #0369A1;
}

.category:hover {
    text-decoration: underline;
}

.notes {
    border: 1px solid #cbd5e1;
    background-color: white;
}

